.btn {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    border-radius: 30px;
    transition: 0.3s ease all 0s;

    @media screen and (min-width: 992px) {
        &:active {
            box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }

    &-white {
        background-color: #fff;
    }

    &-bg {
        background-color: $Blue;
        color: $White;

        @media screen and (min-width: 992px) {
            &:hover {
                background-color: $Blue2;
            }
        }
    }

    &-try {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 18px 40px;
    }

    &-request {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 18px 40px;
        color: $BlueGray;
        border: 2px solid $BlueGray;

        @media screen and (min-width: 992px) {
            &:hover {
                background-color: $BlueGray;
                color: $White;
            }
        }
    }
}