.btn {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    border-radius: 30px;
    transition: 0.3s ease all 0s;

    &-white {
        background-color: #fff;
    }

    &-bg {
        background-color: $Blue;
        color: $White;
    }

    &-try {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 18px 40px;
    }
}