.title {
    &-h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;

        @media screen and (max-width: $layoutDesktop + "px") {
            font-size: calc(28px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(44 / 36);
        }
    }

    &-h2 {
        font-size: 28px;
        line-height: 34px;
        color: $DarkGray;

        @media screen and (max-width: $layoutDesktop + "px") {
            font-size: calc(24px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(34 / 28);
        }
    }

    &-h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;

        @media screen and (max-width: $layoutDesktop + "px") {
            font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(36 / 26);
        }
    }
}
