// === Sizes ===
$size-container: 1196px;
$layoutDesktop: 1134;
$layoutMobile: 320;
$size-header-height: 104px;
$size-header-height-mobile: 69px;

// === Font ===
$font: "ProximaNova";
$fontWeight: 400;
$fontSize: 16px;
$lineHeight: 140%;
$fontColor: #000;

// === Color ===
$Black: #000;
$White: #fff;
$Gray: #c4c4c4;
$DarkGray: #707070;
$LGray: #f8f8f8;
$LGray2: #f2f2f2;
$LGray3: #e0e0e0;
$BlueGray: #868679;
$Blue: #4856b7;
$LBlue: #8ba6cd;
$DBlue: #29278c;
$LightBlue: #8cd1c6;
$Green: #d4eb7a;
$Green2: #76cb9e;
$Green3: #6dae56;
$Orange: #f1c060;
$Yellow: #f5df68;
$Pink: #f3a5a5;
$Violet: #988dd8;
$Red: #f28556;
