.presentation {
	padding: 21px 0px 0;
}

.presentation-card {
	display: flex;
	align-items: center;
	margin-bottom: 156px;

	@media screen and (max-width: 991px) {
		margin-bottom: 90px;
	}
	@media screen and (max-width: 767px) {
		margin-bottom: 50px;
	}
	@media screen and (max-width: 575px) {
		flex-direction: column;
		align-items: baseline;
		margin-bottom: 40px;
	}

	&__image {
		flex: 0 0 52.7%;

		@media screen and (max-width: 575px) {
			margin-bottom: 20px;
		}

		img {
			border-radius: 20px;
		}
	}

	&__content {
		flex: 1 1 auto;
		padding: 0 0 0 96px;

		@media screen and (max-width: 991px) {
			padding-left: 54px;
		}
		@media screen and (max-width: 767px) {
			padding-left: 20px;
		}
		@media screen and (max-width: 575px) {
			padding: 0;
		}
	}

	&__body {
		@media screen and (min-width: 576px) {
			max-width: 320px;
		}
	}

	&__category {
		margin-bottom: 4px;
		font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: calc(22 / 14);
		color: $DarkGray;
	}

	&__title {
		margin-bottom: 42px;

		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	&__text {
		line-height: 26px;

		@media screen and (max-width: $layoutDesktop + "px") {
			line-height: calc(26 / 16);
		}
	}

	&__btn {
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: $DarkGray;
		display: inline-block;
		margin-top: 42px;
		transition: 0.3s ease all 0s;

		span {
			margin-right: 18px;
		}

		i {
			font-size: 7.6px;
		}

		@media screen and (min-width: 992px) {
			&:hover {
				color: $Black;
			}
			&:active {
				color: $Blue;
			}
		}
		@media screen and (max-width: 767px) {
			margin-top: 30px;
		}
	}

	&__accordion {
		@include adaptiv-value("padding-top", 32, 20, 0);

		.accordion {
			&__item {
				border-bottom: 1px solid $Gray;

				&:first-child {
					border-top: 1px solid $Gray;
				}
			}
			&__title {
				font-weight: 600;
				font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: calc(22 / 14);
				padding: 10px 28px 10px 10px;

				&::before {
					display: none;
				}
				&::after {
					width: 8px;
					height: 13px;
					background: url(../img/icons/accordion-chevron.svg) no-repeat center/cover;
					right: 11px;
					transform: translate(0, -50%);
				}

				&.active {
					&::after {
						transform: translate(0, -50%) rotate(-90deg);
					}
				}
			}

			&__text {
				padding: 0px 10px 10px 10px;
			}
		}
	}

	&--reverse {
		flex-direction: row-reverse;

		.presentation-card__content {
			padding: 0px 96px 0px 0px;

			@media screen and (max-width: 991px) {
				padding-right: 54px;
			}
			@media screen and (max-width: 767px) {
				padding-right: 20px;
			}
			@media screen and (max-width: 575px) {
				padding: 0;
			}
		}
	}
}
