.products {
	padding: 105px 0;
	overflow: hidden;

	@media screen and (max-width: 991px) {
		padding: 82px 0;
	}
	@media screen and (max-width: 767px) {
		padding: 82px 0 42px;
	}

	&__title {
		text-align: center;
		margin-bottom: 50px;

		@media screen and (max-width: 991px) {
			margin-bottom: 20px;
		}
	}

	.sub-menu {
		&__row {
			margin: 0 -15px;

			@media screen and (max-width: 650px) {
				flex-wrap: nowrap;
				overflow-y: auto;
			}
		}

		&__list {
			padding: 30px 15px;

			@media screen and (max-width: 991px) {
				padding: 20px 15px;
			}
			@media screen and (max-width: 650px) {
				flex: 0 0 40%;
			}
			@media screen and (max-width: 450px) {
				flex: 0 0 45%;
			}
			@media screen and (max-width: 400px) {
				flex: 0 0 200px;
			}
		}

		&__item {
			&:first-child {
				margin-bottom: 12px;

				img {
					margin-right: 20px;
				}
			}
		}
	}

	&--inner {
		.sub-menu__row {
			@media screen and (max-width: 991px) {
				max-width: 500px;
				margin: 0 auto;
			}
			@media screen and (max-width: 650px) {
				max-width: 100%;
			}
		}

		.products__title {
			text-align: left;
			margin: 0;
			@include adaptiv-value("margin-bottom", 40, 30, 1);

			@media screen and (max-width: 991px) {
				text-align: center;
			}
		}

		.sub-menu__list {
			padding: 8px 15px;

			@media screen and (max-width: 991px) {
				flex: 0 0 50%;
			}
		}

		.sub-menu__item {
			margin: 0;
		}
	}
}